body {
}

#main {
margin-left: auto;
margin-right: auto;
width: 1000px;
}

h2 {
  font-size: 20px;
  margin-top: 28px;
}

table
{
  table-layout: fixed;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#types, .select2-container
{
  width: 400px;
}

#results
{
  /*height: 1200px;*/
  border: 1px solid #ddd;
  border-radius: 6px 6px;
}

#copytext {
  width: 200px;
  font-size: 10px;
  line-height: 12px;
  height: 100px;
}

.c-shadow { box-shadow:0 2px 8px rgba(0, 0, 0, 0.3); }
.c-shadow-big { box-shadow:20px 20px 40px rgba(75, 60, 85, 0.5); }

.c-corner-all { border-radius:6px; }
.c-corner-right { border-radius:0 6px 6px 0; }

.error { border-color:#ee5f5b;color:#b94a48; }

.floatleft {float: left;}
.floatright {float: right;}
.bold {font-weight: bold;}

.smalltext{font-size: 10px;}

.cursor-pointer{cursor: pointer;}

#Packagely-navbar-logo {margin-right: 6px;}

/* Messages */
.c-message { position:fixed;top:40px;right:0;left:0;width:640px;margin:0 auto; z-index: 2; }
	.c-message .alert-message { margin-bottom:0;border-radius:0; z-index: 9999; }

/* Bootstrap Overrides */
#Packagely-navbar-logo {margin-top: 3px;}

/*html { height:100%;background:#777 url(../images/graphy.png); }*/
body { background-color:transparent; }

#header .container { position:relative; }

#content { margin-top:60px;background-color:#eaeaea; }

#content-inner { padding:2em; }

#content-inner { background-color:#505050;color:#fafafa;border:1px solid #111;border-radius:16px; }

#startbutton, #gbutton {font-weight: bold;}

#colophon {margin-top: 200px;}

tr.odd {
      background-color: #f6fff6;
}

.select2-choice, .select2-arrow, .select2-input,  {
  background-image: none;
  background-color: transparent;
}