<div id="header" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav pull-left" data-active="<%=@active %>">
				<li><h3><a href="/"><img src="/images/logo-small.png" id="Packagely-navbar-logo"/></a></h3></li>
				<li><a href=""></a></li>
			</ul>
		</div>
	</div>
</div>