<% content_for :css do %>
	<%= include_stylesheets :all %>
<% end %>

<div id="main">
<h2><u>10gen Content Packaging Advice</u> <small>(alpha)</small></h2>
<h2>I need to promote...</h2>

<select id="types">
	<option></option>
</select>

<div id="results-container">
<h2>
	Consider creating:
<button class="btn floatright" type="button" id="display-button" data-toggle="recommended" onclick="toggle_display();">
	<i class="icon-list-alt" id="btn-img"></i><span> See All</span>
</button>
<button class="btn floatright" type="button" id="jira-copy" style="margin-right: 10px;">
	<i class="icon-leaf"></i><span> Send to Jira</span>
</button>
<button class="btn floatright" type="button" id="clip-copy" data-toggle="popover" style="margin-right: 10px;">
	<i class="icon-file"></i><span> Copy to Clipboard</span>
</button>
</h2>

<table id="results" class="table">
	<thead>
		<tr id="header">
		<th>Content Type</th>
		<th>Who Can Help?</th>
		<th>Notes</th>
		</tr>
	</thead>
</table>
</div>

<div id="colophon">
<small>Written by <a href="http://justindunham.net">Justin Dunham</a>. <a href="http://www.github.com/riboflavin/packagely">Source code on Github</a>.</small>
</div>
</div>


<% content_for :js do %>
	<%= include_javascripts :all %>
<% end %>
