<!DOCTYPE html>
<html>
<head>
	<title>Content Package Generator</title>
	<%= yield :css %>
	<%= csrf_meta_tag %>
</head>
<body>
<% unless 1 == 1 %>
<% render :partial => "/shared/topbar", :locals => { :active => @active } %>
<% end %>
 
    <%= yield %>

	<%= yield :js %>
	<script type="text/javascript">
	 //  var _gaq = _gaq || [];
	 //  _gaq.push(['_setAccount', 'UA-17158679-4']);
	 //  _gaq.push(['_trackPageview']);
	 //  (function() {
  //       //Google Analytics
	 //    var ga = document.createElement('script'); ga.type = 'text/javascript'; 
	 //    ga.async = true;
	 //    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 //    var s = document.getElementsByTagName('script')[0];
	 //    s.parentNode.insertBefore(ga, s);

  //       //Google Font Loader
		// var wf = document.createElement('script');
		// wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		// 	     '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		// wf.type = 'text/javascript';
		// wf.async = 'true';
		// var s = document.getElementsByTagName('script')[0];
		// s.parentNode.insertBefore(wf, s);
	 //  })();
	</script>
</body>
</html>
